@import 'config';

#nav-bar-container{
    width: 100%;
    background: $primary;
    #navbarNav{
            li{
                text-align: center;
                a{
                    font-size: 1.5rem;
                    font-weight: map-get($font-weights, 'regular');
                    transition: .3s;
                    color: $secondary;
                    width: 8rem;
                    margin: auto;
                    text-transform: uppercase;
                    &:hover{
                        color: $primary;
                        background: $secondary;
                    }
            }
        }
    }
}
.navbar-toggler{
    background: $secondary;
}



.menu__main__container{
    width: 100%;
    background: $bg-main;
    font-family: $font-primary;
    padding-top: 10vh;
    margin: 0;
    .menu__title {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin: auto;
        padding: 2vh 0;
        width: 100%;
        color: rgba($primary, .95);
        background: rgba($secondary, .5);
        margin-bottom: 4vh;
        // Balneario 12
        span{
            font-size: 1.7rem;
            text-transform: capitalize;
            font-weight:bold;
            text-align: center;
            font-weight: map-get($font-weights, 'regular');
        }
        // MENU
        h1{
            font-family: $font-primary;
            font-style: normal;
            font-size: 7.5rem;
            text-align: center;
            font-weight: map-get($font-weights, 'light');
        }
    }
    
    .menu__food__container{
        display: flex;
        width: 100%;
        padding: 0 0 5% 0;
        justify-content: space-evenly;
        margin: auto;
        flex-wrap: wrap;
        
        .menu__container{
            text-align: center;
        }

        .menu__section__2{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }

        .__title{
            display: flex;
            justify-content: center;
            font-weight: normal;
            font-size: $title-font-size;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            font-family: $font-primary;
            padding: 1% 0;
            margin: auto;
        }

        .__subtitle{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 20px 0;
            span{
                border-bottom: 3px solid $secondary;
                font-size: $subtitle-font-size;
                text-align: left;
                text-transform: uppercase;
                font-family: $font-primary;
            }
        }

        .__container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
            width: 100%;
            padding: .7rem 0;
            transition: all .3s ease-in;
            justify-items: left;
            font-family: $font-primary;

            .__content{
                display: flex;
                flex-flow: column;
                width: 90%;
                justify-content: center;
                grid-column: 1/4;
                text-transform: uppercase;
                text-align: left;
                margin: auto;
                h2{
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    font-weight: map-get($font-weights, 'regular');
                    span{
                        text-transform: capitalize;
                    }
                }
            }
            .__price{
                display: flex;
                align-items: center;
                justify-content: left;
                p{
                    font-style: normal;
                    font-weight: map-get($font-weights, 'bold');
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.resto-bebidas-separador, .bebidas-cafeteria-separador{
    width: 100%;
    height: 1vh;
    background: #333;
}

#menu__resto{
    background: rgb(148, 114, 67);
    .__title{color: $secondary;}
    .__subtitle{span{color: $secondary;}}

    .__container{
        .__content{
            h2{color: $secondary;
                span{ text-transform: capitalize;}
            }
            p{color: $secondary;}
        }
        .__price{p{color: $secondary;}}
    }
}

#menu__bebidas{
    background: rgb(239,219,192);
    color: $bebidas-color;
    .__subtitle{
        span{
            border-bottom: 3px solid $bebidas-color;
        }
    }
    .__container{
        .__content{
            h2{color: $bebidas-color;}
            p{color: $bebidas-color;}
        }
        .__price{p{color: $bebidas-color;}}
    }
}

#menu__cafeteria{
    background: $cafe-bg;
    color: $cafe-text;
    .__title{
        color: $cafe-title;
    }
    .__subtitle{
        span{
            border-bottom: 3px solid $cafe-text;
        }
    }
    .__container{
        .__content{
            h2{color: $cafe-text;}
            p{color: $cafe-text;}
        }
        .__price{p{color: $cafe-text;}}
    }
}


.copy {
	display: flex;
	width: 100%;
	height: 5vh;
	align-items: center;
	text-align: center;
	font-family: 'Montserrat';
	justify-content: center;
	font-size: .9rem;
	font-weight: 300;
	padding: 7px 0 7px 0;
	background: $primary;
	color: $secondary;
	a{
		color: $primary;
		background: gold;
		text-decoration: none;
		font-weight: map-get($font-weights, 'bold');
		padding: 0 5px;
	}
}