@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #1e1f1f;
}

body::-webkit-scrollbar-thumb {
  background: #edf2f4;
}

#nav-bar-container {
  width: 100%;
  background: #1e1f1f;
}

#nav-bar-container #navbarNav li {
  text-align: center;
}

#nav-bar-container #navbarNav li a {
  font-size: 1.5rem;
  font-weight: 400;
  -webkit-transition: .3s;
  transition: .3s;
  color: #edf2f4;
  width: 8rem;
  margin: auto;
  text-transform: uppercase;
}

#nav-bar-container #navbarNav li a:hover {
  color: #1e1f1f;
  background: #edf2f4;
}

.navbar-toggler {
  background: #edf2f4;
}

.menu__main__container {
  width: 100%;
  background: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(3) rotate(60)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(25,61.6%,80.6%,1)'/><path d='M1.666 0s.933 1.041 2.084 1.041C4.9 1.041 5.834 0 5.834 0H1.666zm17.5 0s.933 1.041 2.084 1.041C22.4 1.041 23.334 0 23.334 0h-4.168zm7.5 0s.933 1.041 2.084 1.041C29.9 1.041 30.834 0 30.834 0h-4.168zm17.5 0s.933 1.041 2.084 1.041C47.4 1.041 48.334 0 48.334 0h-4.168zM0 1.666v4.168s1.041-.933 1.041-2.084C1.041 2.6 0 1.666 0 1.666zm25 0s-1.041.933-1.041 2.084C23.959 4.9 25 5.834 25 5.834s1.041-.933 1.041-2.084C26.041 2.6 25 1.666 25 1.666zm25 0s-1.041.933-1.041 2.084C48.959 4.9 50 5.834 50 5.834V1.666zm-47.916.418c.61 1.714.127 2.967.127 2.967 1.234-.309 2.088-.148 2.564.002l7.295 7.332-7.523 7.523c-.511.12-1.287.2-2.336-.062 0 0 .482 1.252-.127 2.966-.005.014 1.073-.6 2.967-.126 0 0-.362-.966-.031-2.368l7.49-7.49 7.474 7.516c.32 1.387-.035 2.342-.035 2.342 1.894-.474 2.972.14 2.967.127-.61-1.715-.127-2.967-.127-2.967-1.239.31-2.095.146-2.57-.004l-7.34-7.383 7.432-7.432c.494-.14 1.314-.267 2.478.024 0 0-.482-1.253.127-2.967.005-.014-1.073.6-2.967.127 0 0 .332.91.053 2.242l-7.564 7.565L5.013 4.55c-.32-1.387.037-2.34.037-2.34-1.894.473-2.972-.14-2.967-.127zm25 0c.61 1.714.127 2.967.127 2.967 1.164-.291 1.984-.164 2.478-.024l7.432 7.432-7.34 7.383c-.475.15-1.331.313-2.57.004 0 0 .482 1.252-.127 2.966-.005.014 1.073-.6 2.967-.126 0 0-.356-.954-.037-2.34l7.476-7.518 7.49 7.49c.331 1.402-.03 2.368-.03 2.368 1.893-.474 2.97.14 2.966.127-.61-1.715-.127-2.967-.127-2.967-1.05.262-1.825.183-2.336.062l-7.523-7.523 7.295-7.332c.476-.15 1.33-.31 2.564-.002 0 0-.482-1.253.127-2.967.005-.014-1.073.6-2.967.127 0 0 .356.953.037 2.34l-7.423 7.467-7.567-7.567c-.279-1.33.055-2.24.055-2.24-1.894.473-2.972-.14-2.967-.127zM0 19.063v4.166s1.041-.932 1.041-2.083c0-1.15-1.041-2.084-1.041-2.084zm25 0s-1.041.933-1.041 2.083c0 1.151 1.041 2.083 1.041 2.083s1.041-.932 1.041-2.083c0-1.15-1.041-2.084-1.041-2.084zm25 0s-1.041.933-1.041 2.083c0 1.151 1.041 2.083 1.041 2.083v-4.166zm-46.25 4.79c-1.15 0-2.084 1.043-2.084 1.043s.933 1.041 2.084 1.041c1.15 0 2.084-1.04 2.084-1.04s-.933-1.043-2.084-1.043zm17.5 0c-1.15 0-2.084 1.043-2.084 1.043s.933 1.041 2.084 1.041c1.15 0 2.084-1.04 2.084-1.04s-.933-1.043-2.084-1.043zm7.5 0c-1.15 0-2.084 1.043-2.084 1.043s.933 1.041 2.084 1.041c1.15 0 2.084-1.04 2.084-1.04s-.933-1.043-2.084-1.043zm17.5 0c-1.15 0-2.084 1.043-2.084 1.043s.933 1.041 2.084 1.041c1.15 0 2.084-1.04 2.084-1.04s-.933-1.043-2.084-1.043zM0 26.564v4.166s1.041-.932 1.041-2.083c0-1.15-1.041-2.084-1.041-2.084zm25 0s-1.041.933-1.041 2.083c0 1.151 1.041 2.083 1.041 2.083s1.041-.932 1.041-2.083c0-1.15-1.041-2.084-1.041-2.084zm25 0s-1.041.933-1.041 2.083c0 1.151 1.041 2.083 1.041 2.083v-4.166zm-47.916.416c.61 1.714.127 2.968.127 2.968 1.048-.262 1.823-.185 2.334-.064l7.574 7.574-7.605 7.564c-.513.116-1.28.184-2.303-.072 0 0 .482 1.253-.127 2.967-.005.014 1.073-.6 2.967-.127 0 0-.392-1.079.039-2.605l7.398-7.358 7.448 7.447c.391 1.48.013 2.516.013 2.516 1.894-.473 2.972.14 2.967.127-.61-1.714-.127-2.967-.127-2.967-.938.235-1.68.198-2.193.102l-7.664-7.664 7.554-7.512c.513-.115 1.28-.183 2.303.072 0 0-.482-1.254.127-2.968.005-.014-1.073.602-2.967.128 0 0 .391 1.078-.04 2.606l-7.346 7.305-7.543-7.541v-.002c-.332-1.403.03-2.368.03-2.368-1.893.474-2.97-.142-2.966-.128zm25 0c.61 1.714.127 2.968.127 2.968 1.023-.255 1.79-.187 2.303-.072l7.554 7.512-7.664 7.664c-.512.096-1.255.133-2.193-.102 0 0 .482 1.253-.127 2.967-.005.014 1.073-.6 2.967-.127 0 0-.38-1.035.012-2.514l7.449-7.449 7.398 7.358c.431 1.526.04 2.605.04 2.605 1.893-.473 2.97.14 2.966.127-.61-1.714-.127-2.967-.127-2.967-1.023.256-1.79.188-2.303.072l-7.605-7.564 7.574-7.574c.511-.12 1.286-.198 2.334.064 0 0-.482-1.254.127-2.968.005-.014-1.073.602-2.967.128 0 0 .363.965.031 2.368l-7.542 7.543-7.348-7.307c-.431-1.527-.04-2.604-.04-2.604-1.893.474-2.97-.142-2.966-.128zM0 44.166v4.168s1.041-.933 1.041-2.084C1.041 45.1 0 44.166 0 44.166zm25 0s-1.041.933-1.041 2.084c0 1.15 1.041 2.084 1.041 2.084s1.041-.933 1.041-2.084c0-1.15-1.041-2.084-1.041-2.084zm25 0s-1.041.933-1.041 2.084c0 1.15 1.041 2.084 1.041 2.084v-4.168zM3.75 48.959C2.6 48.959 1.666 50 1.666 50h4.168s-.933-1.041-2.084-1.041zm17.5 0c-1.15 0-2.084 1.041-2.084 1.041h4.168s-.933-1.041-2.084-1.041zm7.5 0c-.144 0-.284.016-.42.045-.95.2-1.664.996-1.664.996h4.168s-.933-1.041-2.084-1.041zm17.5 0c-1.15 0-2.084 1.041-2.084 1.041h4.168s-.933-1.041-2.084-1.041z'  stroke-width='1' stroke='none' fill='hsla(28,44.6%,56.1%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  font-family: "Roboto Slab";
  padding-top: 10vh;
  margin: 0;
}

.menu__main__container .menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: auto;
  padding: 2vh 0;
  width: 100%;
  color: rgba(30, 31, 31, 0.95);
  background: rgba(237, 242, 244, 0.5);
  margin-bottom: 4vh;
}

.menu__main__container .menu__title span {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  font-weight: 400;
}

.menu__main__container .menu__title h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-size: 7.5rem;
  text-align: center;
  font-weight: 300;
}

.menu__main__container .menu__food__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 0 5% 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__main__container .menu__food__container .menu__container {
  text-align: center;
}

.menu__main__container .menu__food__container .menu__section__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__main__container .menu__food__container .__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family: "Roboto Slab";
  padding: 1% 0;
  margin: auto;
}

.menu__main__container .menu__food__container .__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.menu__main__container .menu__food__container .__subtitle span {
  border-bottom: 3px solid #edf2f4;
  font-size: 2.5rem;
  text-align: left;
  text-transform: uppercase;
  font-family: "Roboto Slab";
}

.menu__main__container .menu__food__container .__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  width: 100%;
  padding: .7rem 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  justify-items: left;
  font-family: "Roboto Slab";
}

.menu__main__container .menu__food__container .__container .__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-transform: uppercase;
  text-align: left;
  margin: auto;
}

.menu__main__container .menu__food__container .__container .__content h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;
}

.menu__main__container .menu__food__container .__container .__content h2 span {
  text-transform: capitalize;
}

.menu__main__container .menu__food__container .__container .__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.menu__main__container .menu__food__container .__container .__price p {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.resto-bebidas-separador, .bebidas-cafeteria-separador {
  width: 100%;
  height: 1vh;
  background: #333;
}

#menu__resto {
  background: #947243;
}

#menu__resto .__title {
  color: #edf2f4;
}

#menu__resto .__subtitle span {
  color: #edf2f4;
}

#menu__resto .__container .__content h2 {
  color: #edf2f4;
}

#menu__resto .__container .__content h2 span {
  text-transform: capitalize;
}

#menu__resto .__container .__content p {
  color: #edf2f4;
}

#menu__resto .__container .__price p {
  color: #edf2f4;
}

#menu__bebidas {
  background: #efdbc0;
  color: #947243;
}

#menu__bebidas .__subtitle span {
  border-bottom: 3px solid #947243;
}

#menu__bebidas .__container .__content h2 {
  color: #947243;
}

#menu__bebidas .__container .__content p {
  color: #947243;
}

#menu__bebidas .__container .__price p {
  color: #947243;
}

#menu__cafeteria {
  background: #f4f3ef;
  color: #53433c;
}

#menu__cafeteria .__title {
  color: #fe9e5e;
}

#menu__cafeteria .__subtitle span {
  border-bottom: 3px solid #53433c;
}

#menu__cafeteria .__container .__content h2 {
  color: #53433c;
}

#menu__cafeteria .__container .__content p {
  color: #53433c;
}

#menu__cafeteria .__container .__price p {
  color: #53433c;
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .9rem;
  font-weight: 300;
  padding: 7px 0 7px 0;
  background: #1e1f1f;
  color: #edf2f4;
}

.copy a {
  color: #1e1f1f;
  background: gold;
  text-decoration: none;
  font-weight: 700;
  padding: 0 5px;
}
/*# sourceMappingURL=main.css.map */